.app-title-viz{
        position: absolute;
        color: rgba(255,255,255,1.00);
        font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
        font-style: normal;
        font-weight: bold;
        /* background-color: rgba(188,88,20,0.64); */
        background-image: linear-gradient(
            9180deg,
         rgba(188,88,20,0.64) 25%,
          
           
           rgba(188,88,20,0.64) 35%,
            rgba(188, 87, 20, 0.144) 70%,
             transparent 75%,
              transparent);
        height: 50px;
        width: 100%;
        
        padding-bottom: 10px;
        top: 0px;
        left: 0px;
    position: fixed;
}
    .app-title-button-back{
        position: absolute;
        float: left; 
        background-color: rgba(173,65,0,0.59); 
        
        height:35px;
        width:35px;
            top: 2px;
            left: 2px;

            
            padding-top:5px;
            padding-left:13px; 
            
     }
        .fa-angle-left{
            
            font-size: 20px;
        }
    .title-text{
        text-align: center;
        /* margin-top: 5px;  */
    }


/* navegacion code */
.viz-navegacion div {
    padding : .4rem 0px;
}
.viz-navegacion div p {
    margin-bottom: 0px;
    font-size: .7rem;
}
.viz-navegacion div span {
    
    font-size: 24px;
}


@media (min-width: 400px) {
    .viz-navegacion{
        bottom: 0.2rem;
        border-radius: 15px !important;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 250px){
    .viz-navegacion div p {
        display: none;
    }
    .viz-navegacion div span {
    
        margin: .15rem 0px;
    }
}

/*     
        border-bottom-radius-left : 15px
        border-top-radius-left : 15px
        
        
*/




    